*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}



.App{
  width: 100%;
}

.home{
  width: 100%;
}
.headers{
  height: 80vh;
  width: 100%;
  background: url("/images/jogym.jpg");
  background-attachment: fixed;
 background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.headers::after{
  content: "";
  background: #2525256c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
}
.headers-container{
  height: 60%;
  width: 60%;
  transform: translate(0,40%);
  margin-left: 5%;
  display: grid;
  align-content: center;
  justify-content: left;
  color: #fafafa;
  position: absolute;
  z-index: 3;
}
.headers-container h4{
  font-size: 1.4rem;
  color: #d6d3d3;
}
.headers-container h1{
  font-size: 2.8rem;
}
.headers-container a{
  background: #e44747;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.2rem;
  width: 40%;
  height: 3em;
  padding-top:0.7em;
  margin-top:1.5%;
  text-align: center;
  text-decoration: none;
}
.headers-container a:hover{
  background: #e92c2c;
}


/* END OF HEADERS */


/* BRIDGE  */
.bridge{
 height: 60vh;
 
  width: 100%;
  background: #161616;
 display: flex;
 flex-wrap: wrap-reverse;
}

.bridge-container{
  display: grid;
  align-content: center;
  justify-content: left;
  width: 45%;
  height: 100%;
  color: #fafafa;
  margin-left: 5%;
}
.bridge-container h1{
 color: #fafafa;
}
.bridge-container h1::after{
  content: "Y";
  color: #e92c2c;
}
.bridge-container :nth-child(2){
  font-size: 1.2rem;
font-weight: 500;
color: #eeeded;

}
.bridge-container :nth-child(3){
  margin-top: 2%;
  color: #b3b2b2;
}

.bridge img{
  width: 50%;
  object-fit: contain;
  height: 100%;
  position: relative;
}


/* END BRIDGE */

/* START SERVICES */

.services{
  width: 100%;
  min-height: 50vh;
 background:linear-gradient(#666565, #a39e9e, #afafaf);
}
.services h1{
  color: #131212;
 font-size: 2.6rem;
  text-decoration: underline;
  text-decoration-color: #e92c2c;
padding-top: 1%;
  text-align: center;
}
.services-container{
 
  width: 100%;
  height: 100%;
  display: grid;
  align-content:center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 50vh;
 padding:5% 0;
}
.services-container div{
 
  height: 100%;
 
 
}
.service{
  height: 100%;
  margin: 0 1%;
  position: relative;
}
 
.service::after{
  content: "";
  position: absolute;
  background: #000000a1;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.service:hover:after{
  width: 100%;
}


.service-img-container{
height: 80%;
width: 100%;
overflow: hidden;
grid-row: 1/3;
grid-column: 1/-1;
}
.service-img-container img{
  height: 100%;
  width: 100%;
  transition: 0.5s all ease-in-out; 
  object-fit: cover;
}
.service-img-container img:hover{
  transform: scale(1.05); 
}
.service-footer{
 top: 0;
 left: 0;
 width: 100%;
 position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
z-index: 3;
}

.service-footer span{

  color: #fafafa;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
}
.service-footer a{
  text-decoration: none;
  border: 1px solid #fafafa;
  color:#fafafa;
  font-size: 1.4rem;
  padding: 0 3%;
position: absolute;
bottom: 5%;
left: 50%;
transform: translateX(-50%);
cursor: pointer;
}
.service-footer a:hover{
  background: #e92c2c;
}


/* END OF SERVICES */
/* START FOOTER */
.footer{
width: 100%;
background:url("/images/strength.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position: top center;
position: relative;
background-attachment: fixed;
}
.footer::after{
  content: "";
  background: #0c0c0cd3;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-attachment: fixed;
}


.footer h1{
  text-align: center;
  color: #fafafa;
  padding: 2% 0;
  position: relative;
  z-index: 1;
}
.footer h1:nth-child(1)::after{
  content: "Y";
  color: #e92c2c;

}
.footer-container{
  position: relative;
  z-index: 3;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  
}
.footer-container div{
  height: 70%;
  color: #b3b2b2;
}
.footer-container div ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-container div  h3{
  color: #e92c2c;
}

.footer-container div ul li{
  list-style: none;
  font-size: 1.0rem;
}



.follow-us ul li:hover{
 color: #e92c2c;
 transition: 1s all;
}
.footer h3{
  text-align: center;
  color: #b3b2b2;
}
.footer h5{
  text-align: center;
  color: grey;
}
.icon1{
  font-size: 2.5rem;
}

/* END OF FOOTER  */

/* START COACHES */

.coaches{
  width:100%;
  background: #e92c2c;
}
.coaches-container{
  width:90%;
  transform: translateX(5%);
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(275px,1fr));
  grid-auto-rows: 380px;
 gap:6px;
 justify-content: center;
}

.coach-card{
  
  padding:0;
  width:100%;
  height:100%;

  display:grid;
  grid-template-rows:15% 55% 30%;
  box-shadow: 3px 4px 9px #a39e9e;

}
.coach-card-header{
grid-row:1/2;
grid-column:1/-1;
background: #0a0a0ae3;
position: relative;
border-bottom: 0.5px solid #e92c2c;
}
.coach-card-header h1{
  height: 100%;
  font-size:1.2rem;
 
  color: #fafafa;
 
  transform: translateY(25%);
 text-align: center;
 
}
.coach-card-img{
  grid-row:1/-1;
  grid-column:1/-1;
}
.coach-card-img img{
  width: 100%;
  height:100%;
  object-position: top center;
  object-fit: cover;
  
}
.coach-card-footer{
  border-top: 1px solid #161616;
  grid-row:3/4;
  grid-column:1/-1;
  display: grid;
 grid-template-rows: 70% 30%;
 width: 100%;
 height: 100%;
 
}
.coach-card-footer div{
  grid-row:1/2;
  grid-column: 1/-1;
 width: 100%;
  display:flex;
  flex-wrap: wrap;
 
  justify-content: center;
column-gap: 8px;
background: #fafafa;
}
.coach-card-footer div h6{
  width: 30%;
  height: 48%;
  overflow: hidden;
 box-shadow: 1px 1.5px 2px #a39e9e;
 justify-self: left;
 text-align: center;
 text-transform: capitalize;
  font-size:1.0rem;
  color:#161616;
 justify-self: left;
}
.coach-card-footer span{
  border-top:0.5px solid #b3b2b2;
  height: 100%;
  width: 100%;
  font-weight: 600;
  grid-row:2/3;
  grid-column: 1/-1;
  text-align: center;
  background: #fafafa;
  color: #131212;
}








/* START OF MEDIA QUERRY */
/* MEDIA QUERY 1*/

@media only screen and (max-width:360px){
  .headers{
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .bridge{
   height: 140vh;
   width: 100%;
 
  }
  .bridge-container{
    width: 100%;
    height: 65%;
    padding: 0;
   align-content: space-around;
   font-size:1.1rem;
  }
  
  .bridge img{
    width: 100%;
    height: 35%;
    object-fit: contain;
  }
  .services-container{
    min-height: 80vh;
    padding-bottom:2.5%;
  }
  .services-container div{
    font-size: 2.4rem;
  }
  .footer h1{
    font-size: 2.6rem;
  }
  .footer h3{
    font-size: 2.0rem;
  }
  .footer-container{
    height: unset;
    min-height: 120vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-container div{
    width: 80%;
    text-align: center;

  }
  .footer-container div ul li{
    font-size: 1.6rem;
    margin:0.5% 0;
  }
  .icon1{
    font-size: 2.5rem;
  }

}


/* MEDIA QUERRY 2 */


@media only screen and (min-width: 360px) and (max-width:992px){
  .headers{
    height: 100vh;
    
  }
  .bridge{
    height: 90vh;
  }
  .bridge-container{
    width: 100%;
    height: 60%;
    padding: 0;
   align-content: space-around;
  }
  .bridge img{
    width: 100%;
    height: 40%;
    object-fit: contain;
  }
  
  .footer{
   
    text-align: center;
  }
  .footer-container{
    height: unset;
    min-height: 90vh;
    justify-items: center;
  }
  .footer-container div{
    width: 100%;
    height: 100%;
  }
  .footer-container div ul{
    align-content: space-around;
  }
  .footer h5{
    font-size:1.3rem;
    color:grey;
  }
  .icon1{
    font-size: 2.6rem;
  }
  
}

/* MEDIA QUERRY 3 */
/* **** */
@media only screen and (min-width: 992px) and (max-width:980px) {
  .headers{
    height: 100vh;
  }
  .headers-container h4,.headers-container h1{
    font-size: 3rem;
  }
  .headers-container a{
    font-size: 2.5rem;
    padding: 5% 2.5%;
  }
  .bridge{
    height: 50vh;
    flex-wrap: nowrap;
    align-items: center;
  }
  .bridge-container{
   
    width: 100%;
    height: 70%;
    font-size: 1.5rem;
    padding: 0;
   align-content: space-around;
  }
  .bridge-container h1{
    font-size: 2.8rem;
  }
  .bridge-container span:nth-child(2){
    font-size: 2.0rem;
    color: #aca9a9;
  }
  .bridge img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.services h1{
  font-size: 3.5rem;
}
  .service div span{
    font-size: 3.5rem;
  }
  .service a{
    font-size: 3rem;
  }
  
  .footer{
   
    text-align: center;
  }
  .footer h1{
    font-size: 3.5em;
    padding-top: 2%;
  }
  
  .footer-container{
    padding: 0;
    margin-top: 0;
    flex-wrap: nowrap;
   height: 60vh;
   justify-content: center;
   align-items: center;
  }
  .footer-container div{
    width: 100%;
    height: 60%;
  }
  .footer-container h3{
    font-size: 2.5rem;
  }
  .footer-container div ul{
    align-content: space-around;
  
  }
  .footer-container div ul li{
    font-size: 2.0rem;
  }
 .icon1{
   font-size: 4rem;
 }
  .footer h5{
    font-size:1.3rem;
    color:grey;
  }
}

/* END OF MEDIA QUERRY */
